@font-face {
    font-family: "Fira Code";
    src: url("/assets/fonts/Fira\ Code\ Regular\ Nerd\ Font\ Complete.otf");
}

@font-face {
    font-family: "Fira Code";
    src: url("/assets/fonts/Fira\ Code\ Bold\ Nerd\ Font\ Complete.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Fira Code";
    src: url("/assets/fonts/Fira\ Code\ Light\ Nerd\ Font\ Complete.otf");
    font-weight: lighter;
}

body {
    background-color: rgb(44, 44, 44);
    font-family: "Fira Code", monospace;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: normal;
    cursor: default;
    min-height: 100vh; 
    margin: 0; 
    
    display:flex; 
    flex-direction:column; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgray;
    margin: 0 2em;
    position: relative;
}
.profile{
    width: 100%;
    height: 100%;
    max-height: 30em;
    max-width: 30em;
    margin:0;
}

.profile-container{
    display: grid;
    grid-template-columns: 1fr;
    overflow:hidden;
    border-radius: 50%;
    margin-bottom: 0.5em;
    max-height: 30em;
    max-width: 30em;
}

i {
    font-size: 1.25em;
}

a {
    color: lightgray
}
.footer i {
    font-size: 2em;
}
footer{
    width: 100%;
    color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    min-height: 4em;
}

footer>*{
    margin: 1em
}
footer a{
    padding: 0.5em;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
}
.line{
    height: 1px;
    background: lightgrey;
}